@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #407dc0;
    --color-error: #f44336;
    --color-success: #4caf50;
    --color-warning: #ff9800;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

button {
    background: none;
    border: none;
}